




.card img {
  width: 100%;
}
:root {
  --crimson: #D7263D;
  --portland-orange: #F46036; 
  --space-cadet: #1B998B;
  --june-bud: #C5D86D;
  background: linear-gradient(#c6dbda,#fee1e8,#fed7c3, #f6eac2, #ecd5e3);
}

.artcontainer{
  display: flex;
}
.card{
  display: inline-block;
}
.the-card {
 background-color: #1B998B;
 width: 220px;
 height: 220px;
}

.li {
  list-style: none;
 
}