
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Cinzel&family=Press+Start+2P&family=Rock+3D&family=Space+Mono&family=Staatliches&family=Supermercado+One&display=swap');


:root {
  --crimson: rgba(215, 38, 61, 1);
  --portland-orange: rgba(244, 96, 54, 1); 
  --space-cadet: rgba(27, 153, 139, 1);
  --june-bud: rgba(197, 216, 109, 1);
  background: linear-gradient(#c6dbda,#fee1e8,#fed7c3, #f6eac2, #ecd5e3);
}

.news-list{
  margin: 0 auto;
  background-color:	rgb(0,0,0,.7);
  height: 75%;
  width: 75%;
  text-align: center;
  border-radius: 25px;
  padding: 10px;
}
.card img {
  width: 100%;
}
.header{
  text-align: center;
  border: solid #73a7e1;
  font-family: 'Press Start 2P';
  color: var(--space-cadet);
  text-shadow: 2px 2px #bdac73;
  margin: 24%;
  background:linear-gradient( rgba(255,255,255, 0),rgba(255,255,255,1));
  border-radius: 25px;
  font-size: .82vw;
}

.article{
  margin: 5px;
  padding: 15px;
  border-radius: 15px;
  border: solid var(--june-bud);
  box-shadow: 0 0 1.5em black;
}

.articlelinks{
  text-decoration: none;
  background: linear-gradient(rgba(244, 96, 54, 1), rgba(215, 38, 61, 1) ) ;
  color: var(--june-bud);
  border-radius: 5px;
  box-shadow: 0 0 1em black;
  padding: 2.5px;
  border: solid  1.5px var(--june-bud);
}

.articlelist li{
  list-style: none;
  /*float: left;*/
  background-color: #1B998B;
  justify-content: center;
  display: inline-block;
    vertical-align: top;
}

.card{
  display: inline-block;
}
.the-card {
 background-color: #1B998B;
 width: 220px;
 height: 220px;
}

.li {
 list-style: none;
 
}


.rate{
  text-shadow: 1px 1px rgba(0,0,0);
  color: var(--june-bud);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 15em;
  margin-right: 15em;
  font-family: "Cinzel";
  background-color: rgba(0,0,0,.5);
  border-radius: 60px;

}

.convert{
 background-color: var(--portland-orange);
 border-radius: 25px 25px 0px 0px;
}

.criptodashboard{
  background-color: #1B998B;
  margin: 15%;
  text-align: center;
  border-radius: 25px;
}

table{
  width: 500px;
  margin: 0 auto;
}

#cripto{
  width: 250px;
  cursor: pointer;
}

#currentCurrency{
  cursor: pointer;
}

button{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  cursor: pointer;
  font-size: 16px;
  margin: 5px;
  border-radius: 5px;
  
}

h2{
  text-shadow: 1px 1px rgba(0,0,0);
  color: var(--june-bud);
  font-size: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Cinzel";
  background-color: rgba(0,0,0,.5);
  border-radius: 20px 20px 0px 0px;

}

.currenceytext{
  text-shadow: .5px .5px rgba(0,0,0);
  color: var(--june-bud);
  font-family: "Staatliches";
  padding: 1em;
  background-color: rgb(0,0,0,.2);
  border-radius: 60px;
}


p{
  font-size: 20px;
}

.news-header{
  color: var(--june-bud);
  padding: 25px;
}

.NavLink{
  text-decoration: none;
  padding: 30px;
}
.imagesfromarticle{
  border: solid 2px var(--june-bud)
}
.navbar{
  text-align: center;
  margin-right: 15%;
  margin-left: 15%;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 30px;
  font-family: 'Press Start 2P';
  font-size: 22px;
/* background-color: rgb(0,0,0,.7); 
border-radius: 5px; */
/* get rid of backgroundcolor and border radius 
    see if theres another decoration to add(increase font size or add text decoration)*/
}

.navbar:hover{
  color: purple;
}

.exchanger{
  color: var(--june-bud);
  font-family: "Cinzel";
  font-weight: bold;
  text-shadow: .5px .5px rgba(0,0,0)
}

.top_button{
  background-color: var(--space-cadet);
  box-shadow:  0 0 .25em black;
}

h1{
  white-space: nowrap
}